.b-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px !important;
    position: relative;

    .left {
        display: flex;
        align-items: center;

        .logo img {
            width: 120px;
            padding-right: 85px;
        }

        .menu ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-weight: 500;
                font-size: 16px;
                color: #272727;
                padding-right: 45px;
                cursor: pointer;

                a{
                    color: #272727;
                    text-decoration: none;

                    &:hover{
                        color: #E91C23;
                        transition: 0.5s;
                    }
                }

                &:hover {
                    color: #E91C23;
                    transition: 0.5s;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;

        .actions {
            .b-action {
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 20px;
                text-decoration: none;
                margin-right: 25px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }
            }

            .b-primary-color {
                background-color: #E91C23;
                color: white;

                &:hover {
                    opacity: 0.8;
                    transition: 0.5s;
                }
            }

            .b-second-color {
                background-color: white;
                color: #E91C23;

                &:hover {
                    opacity: 0.8;
                    transition: 0.5s;
                }
            }
        }
    }

    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            height: 3px;
            width: 25px;
            background-color: #000;
            margin: 5px 0;
            transition: 0.4s;
        }
    }

    .menu.mobile {
        display: none;
        position: absolute;
        top: 85px;
        right: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border-top: 1px solid #e6e6e6;

        ul {
            flex-direction: column;
            padding: 20px;
            margin: 0;

            li {
                padding: 15px 0;
                text-align: center;
                list-style-type: none;
            }

            a.b-action {
                margin-top: 10px;
                display: block;
            }
        }

        .b-action {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 20px;
            text-decoration: none;
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }
        }

        .b-primary-color {
            background-color: #E91C23;
            color: white;

            &:hover {
                opacity: 0.8;
                transition: 0.5s;
            }
        }

        .b-second-color {
            background-color: white;
            color: #E91C23;

            &:hover {
                opacity: 0.8;
                transition: 0.5s;
            }
        }
    }
}

@media (max-width: 768px) {
    .b-header {
        padding-top: 30px !important;

        .menu {
            display: none;

            &.mobile.active {
                display: block;

            }
        }

        .right {
            display: none;
        }

        .hamburger {
            display: flex;
            zoom: 0.9;

            &.active span {
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-5px, 5px);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(45deg) translate(-5px, -5px);
                }
            }
        }
    }
}